/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
    animation: pulse 2s infinite; /* Pulsing animation */
}

@keyframes pulse {
    0% { color: #FB607F; }
    50% { color: #FF8C94; }
    100% { color: #FB607F; }
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: #F0607F;
}
